<form [formGroup]="form">
  <div class="row py-1">
    <div class="col-12">
      <span class="h3">Datos del {{title}}:</span>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Nombre Completo:</label>
            <input type="text" class="form-control" formControlName="names" readonly>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Teléfono de Casa:</label>
            <input type="text" class="form-control" formControlName="phone" readonly>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Celular:</label>
            <input type="text" class="form-control" formControlName="cellphone" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Dirección:</label>
            <input type="text" class="form-control" formControlName="address" readonly>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Colonia:</label>
            <input type="text" class="form-control" formControlName="colony" readonly>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Código Postal:</label>
            <input type="text" class="form-control" formControlName="postal_code" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>País:</label>
            <input type="text" class="form-control" formControlName="country" readonly>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Estado:</label>
            <input type="text" class="form-control" formControlName="state" readonly>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Ciudad:</label>
            <input type="text" class="form-control" formControlName="city" readonly>
          </div>
        </div>
      </div>
      <div class="px-2 border border-light">
        <h4><strong>Datos Laborales</strong></h4>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Ocupación</label>
              <input type="text" class="form-control" formControlName="job" readonly>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Lugar de Trabajo</label>
              <input type="text" class="form-control" formControlName="job_address" readonly>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label>Teléfono del Trabajo</label>
              <input type="text" class="form-control" formControlName="job_phone" readonly>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label>Horario</label>
              <input type="text" class="form-control" formControlName="schedule" readonly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>