<div class="container-fluid pt-4">
  <form>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Nombre Completo del Padre o Tutor</label>
          <input type="text" class="form-control" formControlName="tutor">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label>Teléfono de Papá</label>
          <input type="text" class="form-control" formControlName="phoneFather">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Teléfono de Mamá</label>
          <input type="text" class="form-control" formControlName="phoneMother">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Teléfono de los Abuelos</label>
          <input type="text" class="form-control" formControlName="phoneGrandparents">
        </div>
      </div>
    </div>
  </form>
  <div class="row pt-2 d-flex justify-content-between">
    <div class="col-6">
      <button class="btn btn-secondary" (click)="back">
        Atras
      </button>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="next">
        Siguiente
      </button>
    </div>
  </div>
</div>