<form [formGroup]="formEmergency">
  <div class="columns">
    <div class="column pb-0">
      <mat-form-field>
        <mat-label>Familiar 1</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="column pb-0">
      <mat-form-field>
        <mat-label>Parentesco</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="column pb-0">
      <mat-form-field>
        <mat-label>Teléfono 1</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="columns">
    <div class="column py-0">
      <mat-form-field>
        <mat-label>Familiar 2</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="column py-0">
      <mat-form-field>
        <mat-label>Parentesco</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="column py-0">
      <mat-form-field>
        <mat-label>Teléfono 2</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="columns">
    <div class="column py-0">
      <mat-form-field>
        <mat-label>Familiar 3</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="column py-0">
      <mat-form-field>
        <mat-label>Parentesco</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="column py-0">
      <mat-form-field>
        <mat-label>Teléfono 3</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
</form>