<div class="container py-6">
  <mat-card class="mat-elevation-z5">
    <mat-card-header class="is-flex is-justify-content-center">
      <mat-card-title><strong>Formulario</strong><small> Registro de Alumno</small></mat-card-title>
      <mat-card-subtitle><span>Un nuevo Alumno</span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="container-fluid">
        <div class="columns">
          <div class="column is-full">
            <mat-stepper orientation="horizontal" linear #stepper>
              <mat-step step="mainData" label="Datos Escolares">
                <app-student-main-data (setStudentGroup)="getFormStudentData($event, stepper)"></app-student-main-data>
              </mat-step>
              <mat-step step="ailmentsData" label="Padecimientos">
                <app-student-ailments (setAilmentsGroup)="getFormAilmentsData($event, stepper)"></app-student-ailments>
              </mat-step>
              <mat-step step="emergencyData" label="Datos de Emergencia">
                <app-student-emergency-data (setEmergencyGroup)="getFormEmergencyData($event, stepper)"></app-student-emergency-data>
              </mat-step>
              <mat-step step="billingData" label="Datos de Facturación">
                <app-student-billing-data (setBillingGroup)="getFormBillingData($event, stepper)"></app-student-billing-data>
              </mat-step>
              <mat-step step="cardData" label="Datos de Carnet">
                <app-student-card-data (setStudentCardGroup)="getFormStudentCardData($event)"></app-student-card-data>
              </mat-step>
              <ng-template matStepperIcon="home">
                <mat-icon>home</mat-icon>
              </ng-template>
            </mat-stepper>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>