<div class="container-fluid pt-4">
  <form action="">
    <div>
      <app-parent-inputs></app-parent-inputs>
    </div>
    <div>
      <app-parent-inputs></app-parent-inputs>
    </div>
  </form>
  <div class="row pt-2 d-flex justify-content-between">
    <div class="col-6">
      <button class="btn btn-secondary">
        Atras
      </button>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button class="btn btn-primary">
        Siguiente
      </button>
    </div>
  </div>
</div>