<form>
  <div class="columns">
    <div class="column is-two-thirds pb-0">
      <mat-form-field>
        <mat-label>Nombre del Padre o Tutor</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="columns">
    <div class="column pb-0">
      <mat-form-field>
        <mat-label>Teléfono de Papá</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="column pb-0">
      <mat-form-field>
        <mat-label>Teléfono de Mamá</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="column pb-0">
      <mat-form-field>
        <mat-label>Teléfono de los Abuelos</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
</form>