<!-- <div class="header bg-gradient-gray">

</div> -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<div class="container-fluid mt-7">
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header">
          <span>Alumnos Registrados</span>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-flush">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Campus</th>
                  <th>Sección</th>
                  <th>Grado</th>
                  <th>Nombre</th>
                  <th>Edad</th>
                  <th>Fecha</th>
                  <th class="text-center">Acciones</th>
                  <th class="text-center">Imprimir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of lstStudents" class="h3 mb-0">
                  <td>{{student.id}}</td>
                  <td>{{student.campus}}</td>
                  <td>{{student.section}}</td>
                  <td>{{student.grade}}</td>
                  <td>{{student.last_name_first}} {{student.last_name_second}} {{student.names}}</td>
                  <td>{{student.born_date ? student.born_date :'Sin Datos'}}</td>
                  <td>{{student.creation_date | date}}</td>
                  <td>
                    <button class="btn btn-sm btn-outline-info" ngbTooltip="Ver" (click)="ShowStudent(student)">
                      <span class="h3 mb-0 text-info d-flex align-items-center">
                        <i class="ri-eye-line"></i>
                        Ver
                      </span>
                    </button>
                    <button class="btn btn-sm btn-outline-success" ngbTooltip="Editar" (click)="EditStudent(student.id)">
                      <span class="h3 mb-0 text-success d-flex align-items-center">
                        <i class="ri-edit-line"></i>
                        Editar
                      </span>
                    </button>
                    <button class="btn btn-sm btn-outline-danger" ngbTooltip="Eliminar" (click)="DeleteStudent(student.id)">
                      <span class="h3 mb-0 text-danger d-flex align-items-center">
                        <i class="ri-delete-bin-line"></i>
                        Eliminar
                      </span>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-outline-primary" ngbTooltip="Imprimir Constancia" (click)="PrintConstancia(student)">
                      <span class="h3 mb-0 text-primary d-flex align-items-center">
                        <i class="ri-printer-line"></i>
                        Constancia
                      </span>
                    </button>
                    <button class="btn btn-sm btn-outline-primary" ngbTooltip="Imprimir Carnet" (click)="PrintCarnet(student)">
                      <span class="h3 mb-0 text-primary d-flex align-items-center">
                        <i class="ri-printer-line"></i>
                        Carnet
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>