<div class="container-fluid pt-4">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">Ciclo Escolar:</label>
          <select class="form-control" formControlName="yearSchool">
            <option [value]="null">Seleccione ciclo Escolar</option>
            <option [value]="item.year" *ngFor="let item of yearsSchool">{{item.year}}</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">Campus:</label>
          <select class="form-control" formControlName="campus">
            <option [value]="null">Seleccione un Campus</option>
            <option [value]="item.name" *ngFor="let item of campus">{{item.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">Sección:</label>
          <select class="form-control" formControlName="section">
            <option [value]="null">Seleccione la Sección</option>
            <option [value]="item.section" *ngFor="let item of sections">{{item.section}}</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">Grado:</label>
          <select class="form-control" formControlName="grade">
            <option [value]="null">Seleccione un Grado</option>
            <option [value]="item.name" *ngFor="let item of grades">{{item.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body pt-0">
            <span class="h4">Datos del Alumno:</span>
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label>Apellido Paterno:</label>
                  <input type="text" class="form-control" formControlName="last_name_first" oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Apellido Materno:</label>
                  <input type="text" class="form-control" formControlName="last_name_second" oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Nombres:</label>
                  <input type="text" class="form-control" formControlName="names" oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4 pt-4">
                <div class="form-group">
                  <label>Sexo:</label>
                  <select class="form-control" formControlName="sex">
                    <option [value]="null">Seleccione Sexo</option>
                    <option value="H">Hombre</option>
                    <option value="M">Mujer</option>
                  </select>
                </div>
              </div>
              <div class="col-8" formGroupName="born_date">
                <span class="h4 pb-4">Fecha de Nacimiento:</span>
                <div class="row">
                  <div class="col-4">
                    <div class="form-group">
                      <label>Año</label>
                      <select class="form-control" (change)="setDays()" formControlName="year">
                        <option [value]="null">Seleccione Año</option>
                        <option [value]="item" *ngFor="let item of years">{{item}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label>Mes</label>
                      <select class="form-control" (change)="setDays()" formControlName="month">
                        <option [value]="null">Seleccione Mes</option>
                        <option [value]="item" *ngFor="let item of month">{{item}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label>Día</label>
                      <select class="form-control" formControlName="day">
                        <option [value]="null">Seleccione Día</option>
                        <option [value]="item" *ngFor="let item of day">{{item}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <label>Lugar de Nacimiento:</label>
                  <input type="text" class="form-control" formControlName="born_place" oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label>Dirección:</label>
                  <input type="text" class="form-control" formControlName="address" oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label>Colonia:</label>
                  <input type="text" class="form-control" formControlName="colony" oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label>Código Postal:</label>
                  <input type="text" class="form-control" formControlName="postal_code" oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label>Télefono:</label>
                  <input type="text" class="form-control" formControlName="phone" oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label>CURP:</label>
                  <input type="text" class="form-control" formControlName="curp" oninput="this.value = this.value.toUpperCase()">
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label>Estatura:</label>
                  <input type="number" class="form-control" formControlName="height">
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label>Peso:</label>
                  <input type="number" class="form-control" formControlName="weight">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Tipo de Sangre:</label>
                  <select class="form-control" formControlName="blood_type">
                    <option [value]="null">Seleccione un Tipo de Sangre</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="E+">E+</option>
                    <option value="E-">E-</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group mb-0">
                  <label>¿Utiliza Lentes?</label>
                  <select class="form-control" formControlName="glasses">
                    <option [value]="null">Seleccione una opción</option>
                    <option [value]="true">Sí</option>
                    <option [value]="false">No</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-0">
                  <label>¿Alergico?</label>
                  <select class="form-control" formControlName="alergic">
                    <option [value]="null">Seleccione una opción</option>
                    <option [value]="true">Sí</option>
                    <option [value]="false">No</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col">
        <div class="form-group">
          <label><strong>¿Tiene hermanos?</strong></label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" (change)="hasBrothers = !hasBrothers">
            <label class="form-check-label">
              {{hasBrothers ? 'Sí' : 'No'}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="hasBrothers">
      <div class="col-6">
        <div class="form-group">
          <label>Nombre de la Escuela de Procedencia</label>
          <input type="text" class="form-control" formControlName="lastSchoolName" oninput="this.value = this.value.toUpperCase()">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>Nombres de los Hermanos (En Caso de Pertenecer a Nuestra Escuela)</label>
          <input type="text" class="form-control" formControlName="brothersNames" oninput="this.value = this.value.toUpperCase()">
        </div>
      </div>
    </div>
  </form>
</div>