<div class="header bg-gradient-primary pt-7 pt-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <div *ngIf="!completed">
            <h1 class="text-white">¡Bienvenido!</h1>
            <p class="text-lead text-light">Registro de un nuevo Alumno.</p>
          </div>
          <div *ngIf="completed">
            <span class="display-1 text-white"><b>¡Alumno Registrado!</b></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6" *ngIf="!completed">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-10">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent py-0">
          <div class="text-muted text-center mt-2 mb-4 h1"><strong>Por favor, llene los campos</strong></div>
        </div>
        <div class="card-body px-lg-5">
          <tabset [justified]="true" type="pills" #staticTabs>
            <tab heading="Datos Principales">
              <app-student-main (sendMainForm)="GetMainForm($event)"></app-student-main>
            </tab>
            <tab heading="Datos de los Padres">
              <app-student-parents (goBack)="goBack($event)" (sendParentsForm)="GetParentsForm($event)"></app-student-parents>
            </tab>
            <tab heading="Padecimientos">
              <app-student-ailments (goBack)="goBack($event)" (sendAilmentsForm)="GetAilmentsForm($event)"></app-student-ailments>
            </tab>
            <tab heading="Datos de Emergencia">
              <app-student-emergency (goBack)="goBack($event)" (sendEmergencyForm)="GetEmergencyForm($event)"></app-student-emergency>
            </tab>
            <tab heading="Datos de Facturación">
              <app-student-billing (goBack)="goBack($event)" (sendBillingForm)="GetBillingForm($event)"></app-student-billing>
            </tab>
            <tab heading="Datos de Carnet">
              <app-student-card (goBack)="goBack($event)" (sendStudentCardForm)="GetStudentCardForm($event)"></app-student-card>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
