<form [formGroup]="form">
  <div>
    <span class="h3">Datos del Familiar #1</span>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label>Nombre:</label>
          <input type="text" class="form-control" formControlName="names" readonly>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Parentesco:</label>
          <input type="text" class="form-control" formControlName="family_relationship" readonly>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Teléfono:</label>
          <input type="text" class="form-control" formControlName="phone" readonly>
        </div>
      </div>
    </div>
  </div>
</form>