<div class="row mt-7">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <span class="display-4">Editar Estudiante</span>
          <button class="btn btn-success" (click)="UpdateStudent()">
            <i class="ri-save-line"></i>
            Guardar Cambios</button>
        </div>
      </div>
      <div class="card-body bg-white">
        <tabset [justified]="true" type="pills" #staticTabs>
          <tab heading="Datos Principales">
            <inputs-main [form]="form"></inputs-main>
          </tab>
          <tab heading="Datos de los Padres">
            <inputs-parents [form]="getFormGroup('father')" [title]="'Padre'"></inputs-parents>
            <inputs-parents [form]="getFormGroup('mother')" [title]="'Madre'"></inputs-parents>
          </tab>
          <tab heading="Padecimientos">
            <inputs-ailments [form]="getFormGroup('ailments')"></inputs-ailments>
          </tab>
          <tab heading="Datos de Emergencia">
            <inputs-emergency [form]="item" *ngFor="let item of getFormArray()"></inputs-emergency>
          </tab>
          <tab heading="Datos de Facturación">
            <inputs-billing [form]="getFormGroup('billing')"></inputs-billing>
          </tab>
          <tab heading="Datos de Carnet">
            <inputs-card [form]="getFormGroup('card')"></inputs-card>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
