<div class="container-fluid pt-4">
  <form action="">
    <span class="h3">Datos del Familiar #1</span>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label>Nombre:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Parentesco:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Teléfono:</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <span class="h3">Datos del Familiar #2</span>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label>Nombre:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Parentesco:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Teléfono:</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <span class="h3">Datos del Familiar #3</span>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label>Nombre:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Parentesco:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Teléfono:</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </form>
  <div class="row pt-2 d-flex justify-content-between">
    <div class="col-6">
      <button class="btn btn-secondary">
        Atras
      </button>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button class="btn btn-primary">
        Siguiente
      </button>
    </div>
  </div>
</div>