<div class="container-fluid pt-4">
  <form [formGroup]="formEmergency">
    <app-emergency-inputs [emergency]="formEmergency.get('family1')"></app-emergency-inputs>
    <app-emergency-inputs [emergency]="formEmergency.get('family2')"></app-emergency-inputs>
    <app-emergency-inputs [emergency]="formEmergency.get('family3')"></app-emergency-inputs>
  </form>
  <div class="row pt-2 d-flex justify-content-between">
    <div class="col-6">
      <button class="btn btn-secondary" (click)="back()">
        Atras
      </button>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="next()">
        Siguiente
      </button>
    </div>
  </div>
</div>