<div class="container-fluid pt-4">
  <form>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>Razón Social</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>R.F.C</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label>País</label>
          <select class="form-control">
            <option value="">Seleccione un País</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Estado</label>
          <select class="form-control">
            <option value="">Selecione un Estado</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Municipio</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label>Dirección</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Colonia</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>No</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label>Localidad</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Código Postal</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Telefono</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </form>
  <div class="row pt-2 d-flex justify-content-between">
    <div class="col-6">
      <button class="btn btn-secondary">
        Atras
      </button>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button class="btn btn-primary">
        Siguiente
      </button>
    </div>
  </div>
</div>